:root {
  --clr-accent-400: hsl(15 90% 61%);
}

.nav_bar {
  background-color: rgb(27, 24, 24);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_bar > ul {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav_bar > ul > li {
  list-style-type: none;
}

.nav_bar > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 200%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* highlights the element that we are hovering over */

a:is(:link, :active, :visited).active {
  color: black;
  background-color: white;
}

/* style home screen */

#div_image {
  max-height: 68%;
  overflow: hidden;
  overflow-y: hidden;
}

#home_image {
  max-width: 100%;
  width: auto;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 2rem;
  width: 15rem;
  height: 35rem;
  display: inline-grid;
  margin: 1rem 8rem;
  box-shadow: -20px 15px 6px #a79596;
  background-color: #80584e;
  overflow: hidden;
  border-radius: 1%;

  transition: transform 500ms ease;
}

.card > img {
  width: 100%;
  border: solid;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30;
  height: 3px;
  width: 100%;
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transition: transform 500ms ease;
}

.card:hover .title::after {
  transform: scaleX(1);
}

input[type="text"] {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

#post-form > .text {
  padding: 1%;
  margin: 2%;
  text-align: center;
  position: relative;
  margin-left: 8%;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
}

#post-form > #summary-input {
  width: 80%;
  height: 50%;
  border-radius: 4px;
  border: solid rgb(73, 33, 33);
  position: sticky;
  margin-left: 9.4%;
  border: transparent;
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

#fileInputControl {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

input[type="file"]::file-selector-button {
  border: 2px solid #ffffff;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

input[type="file"] {
  padding: 5px 15px;
  margin-top: 2%;
  margin-left: 3%;
}

input[type="file"]::file-selector-button:hover {
  background-color: #e44557;
  border: 2px solid #e43253;
  cursor: pointer;
}

input[type="submit"] {
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 3%;
  border: 2px solid #ffffff;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2px 0.2px 0.5px;
}

#curr-weather {
  border: grey solid 1px;
  width: 75%;
  height: 22rem;
  display: center;
  margin: 0px auto;
  box-shadow: -20px 15px 6px #a79596;
  background-color: #ffffff;
  
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
}

#curr-weather > #city {
  text-align: center;
  color: white;
  background: rgb(2, 0, 36);
  overflow: hidden;
}

#align-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  
}
#align-card > div {
  padding-left: 20%;
  padding-right: 30%;
  padding-bottom: 7%;
}

#curr-card{
  padding: 1%;
  padding-right: 10%;
}
